<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="youbot_gripper_transmission" params="name">

    <transmission name="${name}_finger_l_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${name}_finger_joint_l"/>
      <actuator name="${name}_finger_l_motor">
        <hardwareInterface>EffortJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="${name}_finger_r_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${name}_finger_joint_r"/>
      <actuator name="${name}_finger_r_motor">
        <hardwareInterface>EffortJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

  </xacro:macro>
</robot>
