<?xml version="1.0"?>
<robot name="youbot" xmlns:xacro="http://ros.org/wiki/xacro">

	<xacro:macro name="youbot_gripper_gazebo" params="name">

		<gazebo reference="${name}_palm_link">
			<material>Gazebo/Black</material>
			<gravity>true</gravity>
			<selfCollide>true</selfCollide>
		</gazebo>
	
		<gazebo reference="${name}_finger_l_link">
			<material>Gazebo/Black</material>
			<gravity>true</gravity>
			<selfCollide>true</selfCollide>
		</gazebo>
	
		<gazebo reference="${name}_finger_r_link">
			<material>Gazebo/Black</material>
			<gravity>true</gravity>
			<selfCollide>true</selfCollide>
		</gazebo>

	</xacro:macro>

</robot>
