<?xml version="1.0"?>
<robot name="youbot" xmlns:xacro="http://ros.org/wiki/xacro">

	<xacro:macro name="youbot_arm_gazebo" params="name">
		<gazebo reference="${name}_link_0">
			<gravity>true</gravity>
			<selfCollide>true</selfCollide>
		</gazebo>

		<gazebo reference="${name}_link_1">
			<gravity>true</gravity>
			<selfCollide>true</selfCollide>

		</gazebo>

		<gazebo reference="${name}_link_2">
			<gravity>true</gravity>
			<selfCollide>true</selfCollide>
		</gazebo>

		<gazebo reference="${name}_link_3">
			<gravity>true</gravity>
			<selfCollide>true</selfCollide>
		</gazebo>

		<gazebo reference="${name}_link_4">
			<gravity>true</gravity>
			<selfCollide>true</selfCollide>
		</gazebo>

		<gazebo reference="${name}_link_5">
			<gravity>true</gravity>
			<selfCollide>true</selfCollide>
		</gazebo>

	</xacro:macro>
</robot>
