<?xml version="1.0"?>
<robot name="youbot" xmlns:xacro="http://www.ros.org/wiki/xacro"> 

  <!-- xacro:include filename="$(find youbot_description)/urdf/youbot_arm/arm.transmission.xacro" /-->
  <!-- uncomment for adding the controllers -->
  <xacro:include filename="$(find youbot_description)/urdf/specs.urdf.xacro" />


  <xacro:macro name="youbot_arm">
    <!-- ### links ### -->
    <link name="arm_base_link">
      <inertial>
        <mass value="${arm_base_mass}" />
        <inertia ixx="0.010" ixy="0.000" ixz="0.000" iyy="0.010" iyz="0.000" izz="0.010" />
      </inertial>

      <visual>
        <geometry>
          <mesh filename="package://youbot_description/meshes/youbot_arm/arm_base_frame.dae"/>
        </geometry> 
      </visual>
    </link>

    <!-- ### joints ### -->
    <joint name="arm_base_joint" type="fixed">
      <origin xyz="${arm_base_pose_x} ${arm_base_pose_y} ${arm_base_pose_z}" rpy="0 0 0" />
      <parent link="base_link"/>
      <child link="arm_base_link" />
    </joint>    		
	
    <!-- extensions -->
    <!-- uncomment for adding the controllers -->
    <!-- xacro:youbot_arm_transmission /-->

  </xacro:macro>

</robot>
