<?xml version="1.0"?>
<robot name="youbot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- reduction ratio doesn't affect the model-->
  <!-- reduction ratio must not to be 0-->
  <xacro:macro name="youbot_arm_transmission" params="name">
    <transmission name="${name}_trans_1">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${name}_joint_1"/>
      <actuator name="${name}_motor_1">
        <hardwareInterface>EffortJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="${name}_trans_2">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${name}_joint_2"/>
      <actuator name="${name}_motor_2">
        <hardwareInterface>EffortJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="${name}_trans_3">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${name}_joint_3"/>
      <actuator name="${name}_motor_3">
        <hardwareInterface>EffortJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="${name}_trans_4">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${name}_joint_4"/>
      <actuator name="${name}_motor_4">
        <hardwareInterface>EffortJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="${name}_trans_5">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${name}_joint_5"/>
      <actuator name="${name}_motor_5">
        <hardwareInterface>EffortJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

  </xacro:macro>
</robot>
