<?xml version="1.0"?>
<!-- Refactored by Arn-O -->

<robot name="youbot" xmlns:xacro="http://www.ros.org/wiki/xacro"> 
  
  <!-- base -->
  <property name="base_mass" value="19.803" />
  <property name="base_pose_x" value="0.000" />
  <property name="base_pose_y" value="0.000" />
  <property name="base_pose_z" value="0.084" />

  <!-- wheels -->
  <property name="wheel_mass" value="1.400" />
  <property name="wheel_radius" value="0.050" />

  <property name="wheel_fl_pose_x" value="0.228" />
  <property name="wheel_fl_pose_y" value="0.158" />
  <property name="wheel_fl_pose_z" value="-0.034" />

  <property name="wheel_fr_pose_x" value="0.228" />
  <property name="wheel_fr_pose_y" value="-0.158" />
  <property name="wheel_fr_pose_z" value="-0.034" />

  <property name="wheel_bl_pose_x" value="-0.228" />
  <property name="wheel_bl_pose_y" value="0.158" />
  <property name="wheel_bl_pose_z" value="-0.034" />

  <property name="wheel_br_pose_x" value="-0.228" />
  <property name="wheel_br_pose_y" value="-0.158" />
  <property name="wheel_br_pose_z" value="-0.034" />

  <!-- wheels -->
  <property name="plate_mass" value="2.397" />

  <property name="plate_pose_x" value="-0.159" />
  <property name="plate_pose_y" value="0.000" />
  <property name="plate_pose_z" value="0.046" />

  <!-- arm -->
  <property name="arm_base_mass" value="0.961" />

  <property name="arm_base_pose_x" value="0.143" />
  <property name="arm_base_pose_y" value="0.000" />
  <property name="arm_base_pose_z" value="0.046" />

  <property name="arm_1_link_mass" value="1.390" />

  <property name="arm_1_link_pose_x" value="0.024" />
  <property name="arm_1_link_pose_y" value="0.000" />
  <property name="arm_1_link_pose_z" value="0.115" />

  <property name="arm_1_link_orient_y" value="${M_PI * (0 / 180)}" />
  <property name="arm_1_link_orient_p" value="${M_PI * (0 / 180)}" />
  <property name="arm_1_link_orient_r" value="${M_PI * (180 / 180)}" />

  <property name="arm_2_link_mass" value="1.318" />

  <property name="arm_2_link_pose_x" value="0.033" />
  <property name="arm_2_link_pose_y" value="0.000" />
  <property name="arm_2_link_pose_z" value="0.000" />

  <property name="arm_2_link_orient_y" value="${M_PI * (-90 / 180)}" />
  <property name="arm_2_link_orient_p" value="${M_PI * (0 / 180)}" />
  <property name="arm_2_link_orient_r" value="${M_PI * (90 / 180)}" />

</robot>
