<?xml version="1.0"?>
<!-- Refactored by Arn-O -->
<robot name="youbot" xmlns:xacro="http://www.ros.org/wiki/xacro">   
  <xacro:macro name="youbot_plate">

  <!-- ### links ### -->
  <link name="plate_link">
    <inertial>
     <mass value="${plate_mass}"/>
     <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01" />
    </inertial>
			
    <visual>
      <geometry>
        <mesh filename="package://youbot_description/meshes/youbot_plate/plate.dae" />
      </geometry>
    </visual>
  </link>

  <!-- ### joints ### -->
  <joint name="$plate_joint" type="fixed" >
    <origin xyz="${plate_pose_x} ${plate_pose_y} ${plate_pose_z}" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="plate_link" />
   </joint>

  </xacro:macro>

</robot>
