<?xml version="1.0"?>
<!-- Refactored by Arn-O -->

<robot name="youbot" xmlns:xacro="http://www.ros.org/wiki/xacro"> 

  <!-- includes -->
  <xacro:include filename="$(find youbot_description)/urdf/specs.urdf.xacro" />
  <xacro:include filename="$(find youbot_description)/urdf/youbot_base/base.gazebo.xacro" />

  <xacro:macro name="youbot_base">

    <!-- ### links ### -->
    <!-- base -->
    <link name="base_footprint">
      <inertial>
        <mass value="0.001" />
        <inertia ixx="0.010" ixy="0.000" ixz="0.000" iyy="0.010" iyz="0.000" izz="0.010" />
      </inertial>

      <visual>
        <geometry>
          <box size="0.001 0.001 0.001" />
        </geometry> 
      </visual>
    </link>
 
   <link name="base_link">
      <inertial>
        <mass value="${base_mass}" />      
        <inertia ixx="1.000" ixy="0.000" ixz="0.000" iyy="1.000" iyz="0.000" izz="1.000" />
      </inertial>

      <visual> 
        <geometry>
          <mesh filename="package://youbot_description/meshes/youbot_base/base_frame.dae"/>
        </geometry> 
      </visual>
    </link>

    <!-- wheels -->
    <!-- front left wheel -->
    <link name="wheel_link_fl">
      <inertial>
        <mass value="${wheel_mass}" />
        <inertia  ixx="0.010" ixy="0.000" ixz="0.000" iyy="0.010" iyz="0.000" izz="0.010" />
      </inertial>

      <visual>
        <geometry>
          <sphere radius="${wheel_radius}" />
        </geometry>
      </visual>

      <collision>
        <geometry>
          <sphere radius="${wheel_radius}" />
        </geometry>
      </collision>
    </link>

    <!-- front right wheel -->
    <link name="wheel_link_fr">
      <inertial>
        <mass value="${wheel_mass}" />
        <inertia  ixx="0.010" ixy="0.000" ixz="0.000" iyy="0.010" iyz="0.000" izz="0.010" />
      </inertial>

      <visual>
        <geometry>
          <sphere radius="${wheel_radius}" />
        </geometry>
      </visual>

      <collision>
        <geometry>
          <sphere radius="${wheel_radius}" />
        </geometry>
      </collision>
    </link>

    <!-- back left wheel -->
    <link name="wheel_link_bl">
      <inertial>
        <mass value="${wheel_mass}" />
        <inertia  ixx="0.010" ixy="0.000" ixz="0.000" iyy="0.010" iyz="0.000" izz="0.010" />
      </inertial>

      <visual>
        <geometry>
          <sphere radius="${wheel_radius}" />
        </geometry>
      </visual>

      <collision>
        <geometry>
          <sphere radius="${wheel_radius}" />
        </geometry>
      </collision>
    </link>

    <!-- back right wheel -->
    <link name="wheel_link_br">
      <inertial>
        <mass value="${wheel_mass}" />
        <inertia  ixx="0.010" ixy="0.000" ixz="0.000" iyy="0.010" iyz="0.000" izz="0.010" />
      </inertial>

      <visual>
        <geometry>
          <sphere radius="${wheel_radius}" />
        </geometry>
      </visual>

      <collision>
        <geometry>
          <sphere radius="${wheel_radius}" />
        </geometry>
      </collision>
    </link>

    <!-- ### joints ### -->
    <joint name="base_joint" type="fixed">
      <origin xyz="${base_pose_x} ${base_pose_y} ${base_pose_z}" rpy="0 0 0" />
      <parent link="base_footprint"/>
      <child link="base_link" />
    </joint>

    <joint name="wheel_fl_joint" type="fixed">
      <origin xyz="${wheel_fl_pose_x} ${wheel_fl_pose_y} ${wheel_fl_pose_z}" rpy="0 0 0" />
      <parent link="base_link"/>
      <child link="wheel_link_fl" />
    </joint>

    <joint name="wheel_fr_joint" type="fixed">
      <origin xyz="${wheel_fr_pose_x} ${wheel_fr_pose_y} ${wheel_fr_pose_z}" rpy="0 0 0" />
      <parent link="base_link"/>
      <child link="wheel_link_fr" />
    </joint>

    <joint name="wheel_bl_joint" type="fixed">
      <origin xyz="${wheel_bl_pose_x} ${wheel_bl_pose_y} ${wheel_bl_pose_z}" rpy="0 0 0" />
      <parent link="base_link"/>
      <child link="wheel_link_bl" />
    </joint>

    <joint name="wheel_br_joint" type="fixed">
      <origin xyz="${wheel_br_pose_x} ${wheel_br_pose_y} ${wheel_br_pose_z}" rpy="0 0 0" />
      <parent link="base_link"/>
      <child link="wheel_link_br" />
    </joint>

    <!-- extensions -->
    <xacro:youbot_base_gazebo />

  </xacro:macro>

</robot>
