<launch>
  <!-- push robot_description to factory and spawn robot in gazebo -->
  <arg name="name" default="youbot"/>
  <arg name="pos_x" default="0.0"/>
  <arg name="pos_y" default="0.0"/>
  <arg name="pos_z" default="0.0"/>
  <arg name="namespace_arg" default=""/>

  <arg name="youbot_model" default="$(find youbot_description)/robots/youbot.urdf.xacro" />
  <param name="youbot_description" command="$(find xacro)/xacro.py '$(arg youbot_model)'" />

  <node name="spawn_robot" pkg="gazebo_ros" type="spawn_model"
        args="-param youbot_description
              -urdf
              -x $(arg pos_x)
              -y $(arg pos_y)
              -z $(arg pos_z)
              -model $(arg name)"
        respawn="false" output="screen">
  </node>
</launch>
