<launch>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find youbot_gazebo)/worlds/empty.world"/>
    <arg name="debug" value="false" />
    <arg name="gui" value="true" />
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="headless" value="false"/>
  </include>

  <!-- spawn general model for the youbot -->
  <arg name="youbot_model" default="$(find youbot_description)/robots/youbot.urdf.xacro" />
  <param name="youbot_description" command="$(find xacro)/xacro.py '$(arg youbot_model)'" />

  <!-- spawn single robots-->
  <group ns="/youbot0">
    <include file="$(find youbot_gazebo)/launch/spawn_youbot.launch">
      <arg name="name" value="youbot0"/>
      <arg name="pos_x" value="0.2"/>
      <arg name="namespace_arg" value="youbot0"/>
    </include>
  </group>

  <group ns="/youbot1">
    <include file="$(find youbot_gazebo)/launch/spawn_youbot.launch">
      <arg name="name" value="youbot1"/>
      <arg name="pos_x" value="1.5"/>
      <arg name="namespace_arg" value="youbot1"/>
    </include>
  </group>


</launch>
